@import "/src/variables";

.container{
  height: 100vh;
}

.shadow {
  margin: 0;
  overflow: hidden;
  width: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
  z-index:99 ;
  &.bottom {
    box-shadow: 0px 9px 10px -15px $black;
  }
}

.header-logo {
  max-width: 55px;
  margin-top: 0px;
  height: min-content;
}
.text{
  color: $white;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  width: 75%;
}
label.text{
  font-size: 25px;
  font-weight: normal;
  line-height: 35px;
}
.left-div{
  background: url(/assets/images/IsolationMode.svg) 13% 108% no-repeat,$theme-gradient;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.right-div{
  background-color: $white;
  overflow-y: auto;
}
