@import "/src/variables";
.head {
    color: $theme;
    padding: 2% 0 2% 0;
}
.head h1{
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}
.input {
    justify-content: center;
}
.reset {
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container{
    padding-bottom: 3%;
}